<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Создание рейса</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <form th:action="@{/routes}" th:method="post" th:object="${route}">
            <fieldset>
                <legend>Груз</legend>
                <label for="customer">Заказчик: </label>
                <select name="customer_id" id="customer">
                    <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.name}"/>
                </select><br/>
                <input type="text" name="cargo_name" placeholder="Груз" /><br/>
                <input type="number" name="cargo_weight" placeholder="Вес" /> тонн<br/>
                <input type="number" th:field="*{price}" placeholder="Стоимость" /> руб.
            </fieldset>
            
            <fieldset>
                <legend>Информация о маршруте</legend>
                <label for="shipment_date">Дата загрузки</label>
                <input type="date" th:field="*{shipmentDate}" placeholder="Дата загрузки" id="shipment_date"/><br/>
                <input type="text" th:field="*{departureCity}" placeholder="Загрузка (город)" /><br/>
                <input type="text" th:field="*{destinationCity}" placeholder="Разгрузка (город)" /><br/>
                <label for="driver">Водитель: </label>
                <select name="driver_id" id="driver">
                    <option th:each="driver : ${drivers}" th:value="${driver.id}" th:text="${driver.name}"/>
                </select>
            </fieldset>
            
            <fieldset>
                <legend>Прочая информация</legend>
                <input type="number" th:field="*{billNumber}" placeholder="Номера счета/акта" /><br />
                <label for="paid">Рейс оплачен </label>
                <input type="checkbox" th:field="*{paid}" th:checked="*{paid}" />
            </fieldset>

            <button type="submit">Отправить</button>
        </form>
    </body>
</html>
